<h1>All Cities</h1>
<ul>
  <% @cities.each do |city| %>
    <li>
      <%= city.name %> - <%= city.state %>, <%= city.country %>
      <a href="<%= city_path(city) %>">View Details</a>
    </li>
  <% end %>
</ul>
