<h1>All Bus Routes</h1>
<ul>
  <% @bus_routes.each do |route| %>
    <li>
      <%= route.name %> (Route Number: <%= route.route_number %>)
      <a href="<%= bus_route_path(route) %>">View Details</a>
    </li>
  <% end %>
</ul>
